<div class="wrapper">

	<h3 class="whoIsMy">Who's My Representative?</h3>

	
	<div class="navBar">
		<select class="dropdown" ng-model="key">
			<option>{{stateVal}}</option>
			<option value="{{key}}" ng-repeat="(key, value) in states">{{value}}</option>
		</select>




		<button><a href="http://127.0.0.1:8080/public/#/representatives/{{key}}">Representatives</a></button>
		<button><a href="http://127.0.0.1:8080/public/#/senators/{{key}}" +>Senators</a></button>
	</div>
	<div class="leftBox">
		<span class="list">List  /  <span class="blue">Representatives</span></span>


		<table>
		<thead>
			<tr>
				<td id="leftSide">Name</td>
				<td>Party</td>
			</tr>
		</thead>
		
		<tbody>
			<tr ng-click="changeInfo(rep)" ng-repeat="rep in representatives">
				<td class="borderBot" id="leftSide">{{rep.name}}</td>
				<td>{{rep.party}}</td>
			</tr>
		</tbody>
	</table>
		
	</div>

	<div class="infoBox">

		<span class="list">Info</span>
		
		<div class="infoSpacing">{{infoBox.first}}</div>
		<div class="infoSpacing">{{infoBox.last}}</div>
		<div class="infoSpacing">{{infoBox.district}}</div>
		<div class="infoSpacing">{{infoBox.phone}}</div>
		<div class="infoSpacing">{{infoBox.office}}</div>

	
	
	


</div>